<div class="container">
  <mat-card class="card">

    <form [formGroup]="loginForm" class="form">
      <h2>Login</h2>

      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username"> 
      </mat-form-field>
    
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="loginForm.invalid">
        Login
      </button>
    </form>
  </mat-card>
</div>
