<form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
    <h2>Register</h2>
  
    <div class="form-group">
      <label for="username">Username:</label>
      <input 
        type="text" 
        id="username" 
        name="username" 
        [(ngModel)]="registrationData.username" 
        required 
      />
    </div>
  
    <div class="form-group">
      <label for="password">Password:</label>
      <input 
        type="password" 
        id="password" 
        name="password" 
        [(ngModel)]="registrationData.password" 
        required 
      />
    </div>
  
    <button type="submit" [disabled]="!registrationForm.form.valid">Register</button>
  </form>
  